# Ignore the entire build folder
build/
build-*/
dependencies.lock
# Ignore the .vscode folder
.vscode/

# Ignore the test/build folder
test/build

#these are now accessed from remote repo
components/timer_impl
components/timer_interface
components
sdkconfig
sdkconfig.old
managed_components/