CONFIG_MATRIX_KEYPAD_MAX_KEYPADS=1
CONFIG_MATRIX_KEYPAD_MAX_ROWS=4
CONFIG_MATRIX_KEYPAD_MAX_COLS=4
CONFIG_MATRIX_KEYPAD_MAX_SIMULTANEOUS_KEYS=5

CONFIG_MATRIX_KEYPAD_DEBOUNCE_MS=20
CONFIG_MATRIX_KEYPAD_LONG_PRESS_MS=1000
CONFIG_MATRIX_KEYPAD_REPEAT_PRESS_MS=500